10/22, 9:00 PM - 11:00 PM  Haana, Saran, Joel, and Vijay, 2 hours
Driver Order and Time Length:
Joel - 9:00 PM - 9:30 PM
Haana - 9:30 PM - 10:02 PM
Vijay - 10:02 PM - 10:34 PM
Saran - 10:34 PM - 11:00 PM

10/23, 4:00 PM - 6:30 PM  Haana, Saran, Joel, and Vijay, 2.5 hours
Vijay - 4:00 PM - 4:35 PM
Joel - 4:35 PM - 5:06 PM
Haana - 5:06 PM - 5:38 PM
Saran - 5:38 PM - 6:10 PM
Vijay - 6:10 PM - 6:30 PM

10/25, 8:30 PM - 10:30 PM Haana, Saran, Joel, and Vijay, 2 hours
Haana - 8:30 PM - 9:00 PM
Vijay - 9:00 PM - 9:30 PM
Saran - 9:30 PM - 10:00 PM
Joel - 10:00 PM - 10:30 PM

10/26, 3:00 PM - 6:00 PM Haana, Saran, Joel, and Vijay, 3 hours
Joel - 3:00 PM - 3:32 PM
Saran - 3:32 PM - 4:05 PM
Haana - 4:05 PM - 4:40 PM
Vijay - 4:40 PM - 5:20 PM
Joel - 5:20 PM - 6:00 PM

10/27, 8:00 PM - 11:00 PM Haana, Saran, Joel, and Vijay, 3 hours
Saran - 8:00 PM - 8:37 PM
Haana - 8:37 PM - 9:10 PM
Vijay - 9:10 PM - 9:47 PM
Joel - 9:47 PM - 10:25 PM
Saran - 10:25 PM - 11:00 PM

10/28, 2:30 PM - 6:00 PM Haana, Saran, Joel, and Vijay, 3.5 hours
[we went to office hours for a bit before]
Vijay - 3:30 PM - 4:01 PM
Saran - 4:01 PM - 4:32 PM
Joel - 4:32 PM - 5:05 PM
Haana - 5:05 PM - 5:38 PM
Vijay - 5:38 PM - 6:00 PM

10/29, 8:00 PM - 11:00 PM Haana, Saran, Joel, and Vijay, 3 hours
Haana - 8:00 PM - 8:38 PM
Joel - 8:38 PM - 9:15 PM
Vijay - 9:15 PM - 9:50 PM
Saran - 9:50 PM - 10:25 PM
Haana - 10:25 PM - 11:00 PM

10/30, 4:00 PM - 7:00 PM Haana, Saran, Joel, and Vijay, 3 hours
Joel - 4:00 PM - 4:42 PM
Haana - 4:42 PM - 5:19 PM
Saran - 5:19 PM - 5:54 PM
Vijay - 5:54 PM - 6:30 PM
Joel - 6:30 PM - 7:00 PM

11/1, 1:30 PM - 4:00 PM Haana, Saran, Joel, and Vijay, 2.5 hours
Vijay - 1:30 PM - 2:07 PM
Joel - 2:07 PM - 2:40 PM
Haana - 2:40 PM - 3:17 PM
Saran - 3:17 PM - 3:50 PM
Vijay - 3:50 PM - 4:00 PM

11/2, 3:00 PM - 6:00 PM Haana, Saran, Joel, and Vijay, 3 hours
Saran - 3:00 PM - 3:41 PM
Vijay - 3:41 PM - 4:22 PM
Haana - 4:22 PM - 5:03 PM
Joel - 5:03 PM - 5:46 PM
Saran - 5:46 PM - 6:00 PM

11/3, 2:00 PM - 3:30 PM Haana, Saran, Joel, and Vijay, 1.5 hours
Haana - 2:00 PM - 2:31 PM
Joel - 2:31 PM - 3:02 PM
Vijay - 3:02 PM - 3:30 PM

11/5, 8:00 PM - 12:00 AM Haana, Saran, Joel, and Vijay, 4 hours
Saran - 8:00 PM - 8:36 PM
Vijay - 8:36 PM - 9:10 PM
Joel - 9:10 PM - 9:50 PM
Haana - 9:50 PM - 10:32 PM
Saran - 10:32 PM - 11:00 PM
Vijay - 11:00 PM - 11:30 PM
Joel - 11:30 PM - 12:00 AM

11/6, 8:00 AM - 11:00 AM, Haana, Saran, Joel, and Vijay, 3 hours
Haana - 8:00 AM - 8:40 AM
Joel - 8:40 AM - 9:20 AM
Saran - 9:20 AM - 10:00 AM
Vijay - 10:00 AM - 10:40 AM
Haana - 10:40 AM - 11:00 AM

11/7, 9:00 AM - 12:00 PM Haana, Saran, Joel, and Vijay, 3 hours
Joel - 9:00 AM - 9:32 AM
Saran - 9:32 AM - 10:04 AM
Haana - 10:04 AM - 10:44 AM
Vijay - 10:44 - 11:25 AM
Joel - 11:25 AM - 12:00 PM

11/8, 9:00 AM - 12:00 PM Haana, Saran, Joel, and Vijay, 3 hours
Vijay - 9:00 AM - 9:35 AM
Haana - 9:35 AM - 10:10 AM
Saran - 10:10 AM - 10:50 AM
Joel - 10:50 AM - 11:30 AM
Vijay - 11:30 AM - 12:00 PM

11/9, 7:00 PM - 10:00 PM Haana, Saran, Joel, and Vijay, 3 hours
Saran - 7:00 PM - 7:40 PM
Joel - 7:40 PM - 8:20 PM
Vijay - 8:20 PM - 9:00 PM
Haana - 9:00 PM - 9:40 PM
Saran - 9:40 PM - 10:00 PM

11/10, 8:00 PM - 11:00 PM Haana, Saran, Joel, and Vijay, 3 hours
Haana - 8:00 PM - 8:35 PM
Vijay - 8:35 PM - 9:05 PM
Joel - 9:05 PM - 9:40 PM
Saran - 9:40 PM - 10:10 PM
Haana - 10:10 PM - 10:40 PM
Vijay - 10:40 PM - 11:00 PM

11/11, 4:00 PM - 7:00 PM Haana, Saran, Joel, and Vijay, 3 hours
Joel - 4:00 PM - 4:30 PM
Saran - 4:30 PM - 5:00 PM
Haana - 5:00 PM - 5:30 PM
Vijay - 5:30 PM - 6:00 PM
Joel - 6:00 PM - 6:30 PM
Saran - 6:30 PM - 7:00 PM

11/12, 7:00 PM - 12:00 AM Haana, Saran, Joel, and Vijay, 5 hours
Vijay - 7:00 PM - 7:30 PM
Haana - 7:30 PM - 8:00 PM
Joel - 8:00 PM - 8:30 PM
Saran - 8:30 PM - 9:00 PM
Vijay - 9:00 PM - 9:30 PM
Haana - 9:30 PM - 10:00 PM
Joel - 10:00 PM - 10:30 PM
Saran - 10:30 PM - 11:00 PM
Vijay - 11:00 PM - 11:30 PM
Haana - 11:30 PM - 12:00 AM
