################
TEAM INFO
################
Name1: Haana Janmohamed
EID1: haj433
CS login: haanaj
Email: haanaj@gmail.com
Unique Number: 51045

Name2: Joel Siew
EID2: JJS4686
CS login: joelsiew
Email: siew.joel@gmail.com
Unique Number: 51045

Name3: Saran Chockan
EID3: sc59852
CS login: sarancs
Email: saran.arun@utexas.edu
Unique Number: 51045

Name4: Vijay Vuyyuru
EID4: vkv286
CS login:vijayv
Email:vijaykvuyyuru@gmail.com
Unique Number:51050

Slip days used: 2

################

